mixin flavorsCard(image,title, price)
  .flavors-card 
    img.flavors-image.global-card-image(srcset=image, alt="")
    .favors-title.global-card-title= title
    .favors-desc.global-card-price= price

mixin blendsCard(blendsImage,blendsTitle, blendsPrice)
   .blends-card 
      img.global-card-image(srcset=blendsImage, alt="")
      .global-card-title= blendsTitle
      .global-card-price= blendsPrice    

mixin shopCard(shopImage, shopDesc, shopQuantity )
  .shop-card 
        img.shop-card-image(srcset=shopImage, alt="")
        .shop-card-desc= shopDesc
          span= shopQuantity
mixin bestsellersCard(bestsellerImage, bestsellerDesc, bestsellersPrice)          
  .bestsellers-card 
        img.bestsellers-card-image(srcset=bestsellerImage, alt="")
        .bestsellers-card-desc= bestsellerDesc
        span.bestsellers-card-price= bestsellersPrice 

mixin globalsCard(globalsImage, globalsDesc, globalsPrice)          
  .globals-card 
      img.globals-card-image(srcset=globalsImage, alt="")
      .globals-card-desc= globalsDesc
      span.globals-card-price= globalsPrice         